<app-menu-side *ngIf="menuData">
  <li *ngFor="let item of menuData; let idx = index" [class.mm-active]="idx === 0">
    <a href="#" [class.has-arrow]="item?.children" [attr.aria-expanded]="!!item?.children">
      {{ item?.text }}
    </a>
    <ul class="nav nav-second-level collapse" *ngIf="item?.children">
      <li *ngFor="let subItem of item?.children">
        <a href="#">
          <span class="nav-label">{{ subItem?.text }}</span>
        </a>
      </li>
    </ul>
  </li>
</app-menu-side>
<router-outlet></router-outlet>
